.vscode/launch.json
.vscode/tasks.json
code/c#/cryptography_case_studies.sln
code/c#/sha256_for_files/sha256_for_files.csproj
code/c#/sha256_for_files/bin/Debug/net6.0/sha256_for_files
code/c#/sha256_for_files/bin/Debug/net6.0/sha256_for_files.deps.json
code/c#/sha256_for_files/bin/Debug/net6.0/sha256_for_files.dll
code/c#/sha256_for_files/bin/Debug/net6.0/sha256_for_files.pdb
code/c#/sha256_for_files/bin/Debug/net6.0/sha256_for_files.runtimeconfig.json
code/c#/sha256_for_files/obj/project.assets.json
code/c#/sha256_for_files/obj/project.nuget.cache
code/c#/sha256_for_files/obj/sha256_for_files.csproj.nuget.dgspec.json
code/c#/sha256_for_files/obj/sha256_for_files.csproj.nuget.g.props
code/c#/sha256_for_files/obj/sha256_for_files.csproj.nuget.g.targets
code/c#/sha256_for_files/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
code/c#/sha256_for_files/obj/Debug/net6.0/apphost
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.AssemblyInfo.cs
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.AssemblyInfoInputs.cache
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.assets.cache
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.csproj.AssemblyReference.cache
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.csproj.CoreCompileInputs.cache
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.csproj.FileListAbsolute.txt
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.dll
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.GeneratedMSBuildEditorConfig.editorconfig
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.genruntimeconfig.cache
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.GlobalUsings.g.cs
code/c#/sha256_for_files/obj/Debug/net6.0/sha256_for_files.pdb
code/c#/sha256_for_files/obj/Debug/net6.0/ref/sha256_for_files.dll
code/c#/sha256_for_files/obj/Debug/net6.0/refint/sha256_for_files.dll
code/c#/aes_using_aesmanaged/obj/project.nuget.cache
code/c#/aes_using_aesmanaged/obj/project.assets.json
code/c#/aes_using_aesmanaged/obj/aes_using_aesmanaged.csproj.nuget.g.targets
code/c#/aes_using_aesmanaged/obj/aes_using_aesmanaged.csproj.nuget.g.props
code/c#/aes_using_aesmanaged/obj/aes_using_aesmanaged.csproj.nuget.dgspec.json
code/c#/aes_using_aesmanaged/aes_using_aesmanaged.csproj

.fake
code/c#/aes_using_aesmanaged/obj/Debug/net6.0/aes_using_aesmanaged.AssemblyInfoInputs.cache
code/c#/aes_using_aesmanaged/obj/Debug/net6.0/aes_using_aesmanaged.assets.cache
code/c#/aes_using_aesmanaged/obj/Debug/net6.0/aes_using_aesmanaged.csproj.AssemblyReference.cache
code/c#/aes_using_aesmanaged/obj/Debug/net6.0/aes_using_aesmanaged.GeneratedMSBuildEditorConfig.editorconfig
code/c#/rijndaelManaged/rijndaelManaged.csproj
code/c#/rijndaelManaged/obj/project.assets.json
code/c#/rijndaelManaged/obj/project.nuget.cache
code/c#/rijndaelManaged/obj/rijndaelManaged.csproj.nuget.dgspec.json
code/c#/rijndaelManaged/obj/rijndaelManaged.csproj.nuget.g.props
code/c#/rijndaelManaged/obj/rijndaelManaged.csproj.nuget.g.targets
code/c#/rijndaelManaged/obj/Debug/net6.0/rijndaelManaged.AssemblyInfoInputs.cache
code/c#/rijndaelManaged/obj/Debug/net6.0/rijndaelManaged.assets.cache
code/c#/rijndaelManaged/obj/Debug/net6.0/rijndaelManaged.csproj.AssemblyReference.cache
code/c#/rijndaelManaged/obj/Debug/net6.0/rijndaelManaged.GeneratedMSBuildEditorConfig.editorconfig
code/c#/aes_using_aesmanaged/obj/Debug/net6.0/aes_using_aesmanaged.AssemblyInfo.cs
code/c#/aes_using_aesmanaged/obj/Debug/net6.0/aes_using_aesmanaged.GlobalUsings.g.cs
code/c#/rijndaelManaged/obj/Debug/net6.0/rijndaelManaged.AssemblyInfo.cs
code/c#/rijndaelManaged/obj/Debug/net6.0/rijndaelManaged.GlobalUsings.g.cs
